profiles{
  gbatch {
    process.executor                      = 'google-batch'
    workDir                               = 'gs://thomashk-test2/nextflow'
    google.location                       = 'us-central1'
    google.project                        = 'service-hpc-project2'
    google.batch.network                  = 'global/networks/test-network'
    google.batch.subnetwork               = 'regions/us-central1/subnetworks/test-subnet'
    google.batch.usePrivateAddress        = true
    google.batch.spot                     = true
    google.batch.serviceAccountEmail      = '883052455576-compute@developer.gserviceaccount.com'
    google.batch.bootDiskSize             = '100 GB'
    process.container                     = 'nvcr.io/nvidia/clara/clara-parabricks:4.0.0-1'
  }

  manifest {
    name = 'gcp-batch-clara-parabricks'
    author = 'Thomas Leung'
    }

  solo {
    process.container = 'nvcr.io/nvidia/clara/clara-parabricks:4.0.0-1'
  }

}
